<!-- header -->
<div class="header_part">
  <nav class="navbar navbar-default navbar_fixed bg_black">
    <div class="container-fluid">
      <div class="header_site_logo bg_pink">
        <a href="https://ownyourday.com.au/dashboard" class="simple_text">
          <img class="img-responsive" src="assets/image/logo-200x73.png">
        </a>
      </div>
      <div class="log-out">
        <!-- <button class="openbtn" onclick="openNav()">☰</button> -->
        <button class="openbtn" (click)="menuToggle()">☰</button>
        <a href="#">
          <span class="logout-text">
            Log Out
            <span class="log_out_ic">
              <i class="fas fa-sign-out-alt"></i>
            </span>
          </span>
        </a>
      </div> 
    </div>
  </nav>
</div>

<!-- tablet/moblie -->

<div class="mob_menu" [ngClass]="{'show_menu': isMunuToggle}">
  <div class="mob_menu_container">
    <div class="mob_menu_header">
      <div class="mmh_l">
        <a href="#" class="img-fluid bg_pink">
          <img class="mmh_logo" src="/assets/image/logo-200x73.png"> 
        </a>
      </div>
      <div class="mmh_r">
        <span class="hamber_icon" (click)="menuToggle()">☰</span>
        <span class="close_menu_icon" (click)="menuToggle()">X</span>
      </div> 
    </div>
    <div class="mob_menu_body">
      <ul class="menu_item_list">
        <li id="summary" class="active">
          <a class="menu_item">Summary</a>
        </li>  
        <li id="guesttracking">
          <a class="menu_item">Guests</a>
        </li>
        <li id="todolist">
          <a class="menu_item">To Do List</a>
        </li>
        <li id="budgettracker">
          <a class="menu_item">Budget</a>
        </li>
        <li id="researchtracker">
          <a class="menu_item">Research </a>
        </li>      
        <li id="runsheet">
          <a class="menu_item">Run Sheet</a>
        </li>
        <li id="musicplaylist">
          <a class="menu_item">Music</a>
        </li> 
        <li id="seatingplan">
          <a class="menu_item">Seating</a>
        </li>
        <li>
          <a href="#" class="menu_item">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
