<!-- header -->
<div class="header_part">
  <nav class="navbar navbar-default navbar_fixed">
    <div class="container-fluid">
      <div class="header_site_logo">
        <a href="https://ownyourday.com.au/dashboard" class="simple_text">
          <img class="img-responsive" src="assets/image/logo-200x73.png">
        </a>
      </div>
      <div class="log-out">
        <button class="openbtn" onclick="openNav()">☰</button>
        <a href="#">
          <span class="logout-text">
            Log Out
            <span class="log_out_ic">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>
          </span>
        </a>
      </div> 
    </div>
  </nav>
</div>



