body{
	background-image:url('/assets/image/rose-bg.jpg');
}
.pf_1{color:#ffffff;font-size: 15px; }
.sec_1{margin-top:150px; margin-left:400px ; }
.img_1{width: 200px;height: auto;margin: 0 auto 10px;display: block; border-bottom: 1px solid gray;}
.form-signin{font-family: 'Josefin Sans', sans-serif;font-weight: 300; width: 300px;}
.form-control {background-color: #FFFFFF;border: 1px solid #E3E3E3;color: #565656;padding: 8px 12px;height: 40px;-webkit-box-shadow: none;
	box-shadow: none;margin-bottom: 10px; border-radius: 10px;}
.form-signin input[type="text"], .form-signin button {width: 100%;display: block;margin-bottom: 10px;z-index: 1;position: relative;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; border-radius: 10px;}
.btn.btn-signin {background-color: rgb(66,194,146);padding: 0px;font-weight: 700;font-size: 14px;height: 36px;border: none;
	-o-transition: all 0.218s;-moz-transition: all 0.218s;-webkit-transition: all 0.218s;transition: all 0.218s; color: #fff;border-radius: 10px;}
	.cb{color: #fff;}
	.form-signin input[type="password"], .form-signin button {width: 100%;display: block;margin-bottom: 10px;z-index: 1;position: relative;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; border-radius: 10px;}
  