<div class="form_signin_con">
  <div class="container-fluid ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form_signin_co">
            <form class="form-signin" action="">
              <img src="/assets/image/logo-350x150.png" class="form_signin_img">
              <p class="form_signin_txt">Enter your username and password to log on:</p>
              <input name="email" type="text" id="inputEmail" class="form-control form_signin_input" placeholder="someone@example.com" required="" autofocus="">
              <input name="password" type="password" id="inputPassword" class="form-control form_signin_input" placeholder="Password" required=""autofocus="">
              <div class="form_signin_for mt-2 mb-2">
                <label>
                  <input type="checkbox" name="remember" value="">
                   Remember Me
                </label>
              </div>
              <button name="submit" class="btn btn-lg  btn-block btn-signin " type="submit">SIGN IN</button>
              <a href="forgot_password.php" class="forgot-password form_signin_for ">
                 Forgot password?
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>