<div class="container-fluid login-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec_1  ">
                      <form class="form-signin" action="">
                     <img src="/assets/image/logo-350x150.png" class="img_1">
                      <p class="pf_1">Enter your username and password to log on:</p>
                    <input name="email" type="text" id="inputEmail" class="form-control" placeholder="someone@example.com" required="" autofocus="">
                     <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required=""autofocus="">
                    <div class="cb mt-2 mb-2">
                    <label>
                        <input type="checkbox" name="remember" value="">
                    Remember Me
                    </label>
                    </div>
                    <button name="submit" class="btn btn-lg  btn-block btn-signin " type="submit">SIGN IN</button>
                    <a href="forgot_password.php" class="forgot-password cb ">
                   Forgot password?
                   </a>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>