<div class="sidebar-wrapper">
    <div class="he_1">
        <i class="fa-solid fa-xmark add_ic_1"></i>
        <header class="hed_1"><h4>Add Category</h4></header>
        <form>
            <div class="text_1">
            <input type="text" name="name" placeholder="Reception and Number"class="form-control">
            </div>
            <button name="submit" class="btn btn-lg  btn-block btn-signin " type="submit">ADD CATEGORY</button>
        </form>
    </div>

</div>

<div class=" row home_content">
    <div class="col-md-12">
    <div class="text">
        My to do list
    </div>
    <div class="summ-heading pd_1">
        <p>You have completed 5 of 80 tasks</p>
        <div class="progress rounded-pill">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <div class="text">
        Category
    </div>
    <div class="summ-heading pd_2">
        <div>
            <div class="task_1">
                <span>8</span>
                <span class="spn_1">Task</span>
            </div>
            <div class="spn_2 ">
                <h6 class="hnd_1">RECEPTION & NUMBER</h6>
                <span class="hnd_2" >
                    <p class=" lh-sm">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                </span>
            </div>
            <div class="task_1">
                <span>14</span>
                <span class="spn_1">Task</span>
            </div>
            <div class="spn_2">
                <h6 class="hnd_1">BRIDE & GROOM</h6>
                <span class="hnd_2">
                    <p class=" lh-sm">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                </span>
            </div>
            <div class="task_1">
                <span>6</span>
                <span class="spn_1">Task</span>
            </div>
            <div class="spn_2">
                <h6 class="hnd_1">FLOWER DECOR</h6>
                <span class="hnd_2">
                    <p class=" lh-sm">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                </span>
            </div>
            <div class="task_1">
                <span>12</span>
                <span class="spn_1">Task</span>
            </div>
            <div class="spn_2">
                <h6 class="hnd_1">BRIDAL PARTY</h6>
                <span class="hnd_2">
                    <p class=" lh-sm">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                </span>
            </div>
        </div>
     </div>
    </div>
</div>
