<div class="v_tab_container"> 
  <div class="summary_containe"></div> 
    <!-- to do tab -->
    <div class="to_do_list_con">
      <div class="container">
        <div class="home_content">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="tab_title">
                TO DO LIST
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="task_info">
                <button name="submit" class="btn_signin" type="submit">
                  <i class="fas fa-plus-circle add_ic_l"></i>ADD NEW CATEGORY
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- progrss list -->
        <div class="pro_list_con">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="pro_l" >
                <p class="prog_txt">You have completed 5 of 80 tasks</p>
                <div class="progress rounded-pill">
                  <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>  
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="task_info pro_md">
                <div class="pro_text_1 ">
                  <div class="icon_blue">
                     <i class="fas fa-circle"></i>
                  </div>
                  <div>
                    <span class="pro_sp_t">1</span>
                    <p class="pro_sp_b">Done</p>
                  </div>
                </div>
                <div class="pro_text_r">
                  <div class="icon_pink">
                    <i class="fas fa-circle"></i>
                  </div>
                  <div>
                    <span class="pro_sp_t">80</span>
                    <p class="pro_sp_b">Done</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- category list -->
        <div class="category_list_con">
          <p class="tab_title_c ca_mp">Category</p>
          <div class="ca_rows">
            <div class="ca_card_box ca_mar">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="ca_card_box_l">
                    <div class="task_count">
                      <span class="tsk_count">8</span>
                      <span class="tsk_txt">Task</span>
                    </div>
                    <div class="ca_card_title">
                      <p class="ca_til">RECEPTION & NUMBER</p>
                      <p class="ca_sub_til">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <div class="ca_card_box_r">
                    <div class="task_info">
                      <button type="button" class="cusom_btn btn_border ">COMPLETED</button>
                      <button name="submit" class="cusom_btn btn_blue" type="submit">
                         <i class="fas fa-plus car_ic_btn"></i>ADD TASK
                      </button>
                      <i class="fas fa-pencil-alt cat_icon pen_icon"></i>
                      <i class="fas fa-trash cat_icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ca_card_box">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="ca_card_box_l">
                    <div class="task_count">
                      <span class="tsk_count">14</span>
                      <span class="tsk_txt">Task</span>
                    </div>
                    <div class="ca_card_title">
                      <p class="ca_til">BRIDE & GROOM</p>
                      <p class="ca_sub_til">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <div class="ca_card_box_r">
                    <div class="task_info">
                      <button type="button" class="cusom_btn btn_border">OUTSTANDING</button>
                      <button name="submit" class="cusom_btn btn_pink" type="submit">
                         <i class="fas fa-plus car_ic_btn"></i>ADD TASK
                      </button>
                      <i class="fas fa-pencil-alt cat_icon pen_icon"></i>
                      <i class="fas fa-trash cat_icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ca_card_box">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="ca_card_box_l">
                    <div class="task_count">
                      <span class="tsk_count">6</span>
                      <span class="tsk_txt">Task</span>
                    </div>
                    <div class="ca_card_title">
                      <p class="ca_til">FLOWER DECOR</p>
                      <p class="ca_sub_til">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <div class="ca_card_box_r">
                    <div class="task_info">
                      <button type="button" class="cusom_btn btn_border ">COMPLETED</button>
                      <button name="submit" class="cusom_btn btn_blue " type="submit">
                        <i class="fas fa-plus car_ic_btn"></i>ADD TASK
                      </button>
                      <i class="fas fa-pencil-alt cat_icon pen_icon"></i>
                      <i class="fas fa-trash cat_icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ca_card_box">
              <div class="row">
                <div class="col-lg-7 col-md-12">
                  <div class="ca_card_box_l">
                    <div class="task_count">
                      <span class="tsk_count">12</span>
                      <span class="tsk_txt">Task</span>
                    </div>
                    <div class="ca_card_title">
                      <p class="ca_til">RIDAL PARTY</p>
                      <p class="ca_sub_til">Venue selected,Catering selected / Caterer hired ,Wedding cake purchased,Date finalised Alcohol selected,Styling props hired</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-12">
                  <div class="ca_card_box_r">
                    <div class="task_info">
                      <button type="button" class="cusom_btn btn_border ">COMPLETED</button>
                      <button name="submit" class="cusom_btn btn_blue " type="submit">
                         <i class="fas fa-plus car_ic_btn"></i>ADD TASK
                      </button>
                      <i class="fas fa-pencil-alt cat_icon pen_icon"></i>
                      <i class="fas fa-trash cat_icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bride_con_panel -->
  <!-- <div class="sidebar-wrapper">
    <div class="sidebar_add">
      <i class="fa-solid fa-xmark sidebar_add_icon"></i>
      <header class="sidebar_add_hed"><h5>Bride and Goom: Add task</h5></header>
      <form>
        <div class="sidebar_add_txt">
          <input type="text" name="name" placeholder="Bride accessories purchased"class="form-control">
        </div>
        <div class="sidebar_add_txt">
          <input type="text" name="name" placeholder="Add date here" class="form-control">
          <i class="fa-solid fa-calendar-days sidebar_add_ico float-end"></i>
        </div>
        <div>
          <input class="sidebar_add_input_btn sidebar_ad_btn fsw_13" type="button" value="Outstanding">
          <input class="sidebar_add_input_btn sidebar_add_btn fsw_13 " type="button" value="completed">
          <input class="sidebar_add_input_btn sidebar_add_btn fsw_13" type="button" value="Urgent">
        </div>
        <button name="submit" class="sidebar_add_input_btn sidebar_add_btn_signin fsw_13" type="submit">ADD CATEGORY</button>
      </form>
    </div>
  </div>  -->

  <!-- add category -->

  <!-- <div class="sidebar-wrapper">
    <div class="sidebar_add">
      <i class="fa-solid fa-xmark sidebar_add_icon"></i>
      <header class="sidebar_add_hed"><h5>Add Category</h5></header>
      <form>
        <div class="sidebar_add_txt">
          <input type="text" name="name" placeholder="Reception and Number"class="form-control">
        </div>
        <button name="submit" class="sidebar_add_input_btn sidebar_add_btn_signin fsw_13" type="submit">ADD CATEGORY</button>
      </form>
    </div>
  </div>  -->
  <div class="sidebar-wrapper">
    <div class="sidebar_add">
      <i class="fa-solid fa-xmark sidebar_add_icon"></i>
      <header class="sidebar_add_hed"><h5>Bride and Goom: Add task</h5></header>
      <button name="submit" class="btn_blue" type="submit">
        <i class="fas fa-plus car_ic_btn"></i>ADD TASK
      </button>
    </div>
  </div>