 <!-- <app-header *ngIf="loginType=='after_login'" class="sm_navbar_hide"></app-header>
<app-left-menu *ngIf="loginType=='after_login'" class="sm_navbar_hide"></app-left-menu> 

 <div *ngIf="loginType=='after_login'" class="main_container">
	<router-outlet></router-outlet>
</div> 
<app-login *ngIf="loginType=='before_login'" class="sm_navbar_hide"></app-login> 
 -->

 <app-header *ngIf="loginType=='after_login'" class="sm_navbar_hide"></app-header>
<app-left-menu  *ngIf="loginType=='after_login'" class="sm_navbar_hide"></app-left-menu> 

 <div class="main_container">
	<router-outlet></router-outlet>
</div> 
<app-login *ngIf="loginType=='before_login'" class="sm_navbar_hide"></app-login> 

