/*common css*/
.sidebar-wrapper { position: fixed; left: 0; width: 100%; height: 100vh; background: #0000003b; z-index: 0; top: 0; }
.sidebar_wap_con { display: block; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; padding: 70px 0 0; }
.sidebar_body { background-color: #fcfcfc; max-width: 410px; width: 100%; height: 100%; margin: 0 0 0 auto; padding: 20px; }

.sidebar_header { display: flex; align-items: center; justify-content: space-between; margin: 0 0 28px;}
.sidebar_header .sh_title { font-size: 16px; line-height: 20px; font-weight: 600; margin: 0; }
.sidebar_header .close_icon { opacity: 0.5; cursor: pointer; }
.sidebar_header .close_icon:hover { opacity: 1; }
.fsw_14 { font-size: 14px; font-weight: 600;}

/*pannel-1*/
.sidebar_body .cus_btn { width: 100%; }
.sidebar_body .custom_input { margin: 0 0 18px; }

/*pannel-2*/
.date_icon_con .data_icon { position: absolute; top: 10px; right: 14px; color: #d5af9c; }
.date_icon_con { position: relative; }
.sidebar_add_input_btn {text-decoration: none; border: none; width:115px; padding: 2px 8px; border-radius: 5px; line-height: 23px;}
.sidebar_btn { display: flex; justify-content: space-between; margin: 0 0 24px; }

  
/*pannel-3*/
.fsw_11 { font-size: 11px; font-weight:600;}
.sidepannel_bar_3 .sidebar_header {margin-bottom: 12px;}
.cus_btn_m { border: none; text-decoration: none; border-radius: 8px; padding: 4px; width: 85px; margin-bottom: 12px; line-height: 18px; }
.btn_icon { padding: 2px 5px 2px 2px; font-size: 11px;  font-size: 11px;}
.task_status_con { margin: 0 -20px;}
.nav_list_con { background:#e4e9ed; }
.nav-pills .nav-item .nav-link.active { background-color:#d5af9c; color: #000; }
.nav-pills .nav-item .nav-link { padding: 5px 21.8px; }
.nav_list_item{ border:none; text-decoration: none; }
.tab_con_row { background: #e4e9ed; border-top: 1px solid #fff;display: flex; align-items: center; justify-content: space-between; }
.tc_status{margin-right: 20px;padding: 5px 16px;border-radius: 8px;min-width: 115px;display: inline-block;text-align: center;}
.tc_row_title{margin-bottom: 0px;}
.text_gray{color: #0000007a;}
.tc_row_l{margin: 5px 10px;}
.tab_icon{padding-right: 5px;}
.btn_blu { background:#546ffc; }
.btn_org { background: #f74214; }
.btn_green { background: #43c191; }
.btn_light_gray { background: #c6cfd8; }
.btn_text_white{color: #fff;}
.text_light_black{color: #565656;}



 

