<div class="sidebar-wrapper">
  <div class="sidebar_wap_con">

    <!-- pannel-1 -->
    <div class="sidebar_body" style="display: noneQW;" >
      <div class="sidebar_header">
        <p class="sh_title">Add Category</p>
        <i class="far fa-times-circle close_icon" (click)="actionEvent()"></i>
      </div>
      <form>
        <input name="name" type="text" id="#" class="form-control custom_input" placeholder="Reception and Number">
        <button name="submit" class="cus_btn btn_pink btn_h_40" type="submit">ADD CATEGORY</button>
      </form>
    </div>

     <!-- pannel-2 -->
    <div class="sidebar_body" style="display: noneQW;">
      <div class="sidebar_header">
        <p class="sh_title">Bride and Goom: Add task</p>
        <i class="far fa-times-circle close_icon" (click)="actionEvent()"></i>
      </div>
      <form>
        <input name="name" type="text" id="#" class="form-control custom_input" placeholder="Bride accessories purchased">
        <div class="date_icon_con">
          <input name="name" type="date" id="#" class="form-control custom_input" placeholder="Add date here">
          <!-- <i class="fas fa-calendar-alt data_icon"></i>  -->
        </div> 
        <div class="select_task">
          <span class="unselect_task selected_task">Outstanding</span>
          <span class="unselect_task">completed</span>
          <span class="unselect_task">Urgent</span>
        </div>
        <button name="submit" class="cus_btn btn_pink btn_h_40" type="submit">ADD TASK</button>
      </form>
    </div>

    <!-- pannel-3 -->
    <div class="sidebar_body sidepannel_bar_3" >
      <div class="sidebar_header">
        <p class="sh_title">Bride and Goom: Tasks</p>
        <i class="far fa-times-circle close_icon" (click)="actionEvent()"></i>
      </div>
      <span class="add_task_sp">
        <i class="fas fa-plus btn_icon"></i>
        <span>ADD TASK</span>
      </span>
      <div class="task_status_con">
        <ul class="nav nav-pills nav_list_con  " id="pills-tab" role="tablist">
          <li class="nav-item nav_list_item " role="presentation">
            <button class="nav-link fsw_14 active txt_b" id="pills-All-Task-tab" data-bs-toggle="pill" data-bs-target="#pills-All-Task" type="button" role="tab" aria-controls="pills-All-Task" aria-selected="true">All Task</button>
          </li>
          <li class="nav-item nav_list_item " role="presentation">
            <button class="nav-link fsw_14 txt_b " id="pills-Outstanding-tab" data-bs-toggle="pill" data-bs-target="#pills-Outstanding" type="button" role="tab" aria-controls="pills-Outstanding" aria-selected="false">Outstanding</button>
          </li>
          <li class="nav-item nav_list_item " role="presentation">
            <button class="nav-link fsw_14 txt_b" id="pills-Urgent-tab" data-bs-toggle="pill" data-bs-target="#pills-Urgent" type="button" role="tab" aria-controls="pills-Urgent" aria-selected="false">Urgent</button>
          </li>
          <li class="nav-item nav_list_item " role="presentation">
            <button class="nav-link fsw_14 txt_b" id="pills-Completed-tab" data-bs-toggle="pill" data-bs-target="#pills-Completed" type="button" role="tab" aria-controls="pills-Completed" aria-selected="false">Completed</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-All-Task" role="tabpanel" aria-labelledby="pills-All-Task-tab">
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Brides accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status bg_pink">Outstanding</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Wedding dress purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status bg_blue">Completed</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Grooms accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status btn_org">Urgent</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Brides accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status bg_pink">Outstanding</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Weddind dress purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status btn_green">Completed</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Grooms accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status btn_org">Urgent</span>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-Outstanding" role="tabpanel" aria-labelledby="pills-Outstanding-tab">
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Brides accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status bg_pink">Outstanding</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Brides accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status bg_pink">Outstanding</span>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Urgent" role="tabpanel" aria-labelledby="pills-Urgent-tab">
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Grooms accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status btn_org">Urgent</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Grooms accessories purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status btn_org">Urgent</span>
              </div>
            </div>
          </div> 
          <div class="tab-pane fade" id="pills-Completed" role="tabpanel" aria-labelledby="pills-Completed-tab">
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Wedding dress purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status bg_blue">Completed</span>
              </div>
            </div>
            <div class="task_row">
              <div class="task_row_l">
                <p class="tr_title">Weddind dress purchased</p>
                <div class="tr_date">
                  <i class="fas fa-calendar-alt tr_date_icon"></i>
                  <span class="tr_date_txt">13/06/2022</span>
                </div>
              </div>
              <div class="task_row_r">
                <span class="tc_status btn_green">Completed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 


