<div class="sidebar-wrapper">
  <div class="sidebar_add">
    <i class="fa-solid fa-xmark sidebar_add_ic"></i>
    <header class="sidebar_add_hed"><h5>Bride and Goom: Add task</h5></header>
    <form>
      <div class="sidebar_add_txt">
        <input type="text" name="name" placeholder="Bride accessories purchased"class="form-control">
      </div>
      <div class="sidebar_add_txt">
        <input type="text" name="name" placeholder="Add date here" class="form-control">
        <i class="fa-solid fa-calendar-days sidebar_add_ico float-end"></i>
      </div>
      <div>
        <input class="btn btn-primary sidebar_ad_btn" type="button" value="Outstanding">
        <input class="btn sidebar_add_btn " type="button" value="completed">
        <input class="btn sidebar_add_btn" type="button" value="Urgent">
      </div>
      <button name="submit" class="btn btn-lg  btn-block sidebar_add_btn_signin mt-3" type="submit">ADD CATEGORY</button>
    </form>
  </div>
</div>