<div class="sidebar-wrapper">
  <div class="sidebar_wap_con">
    <!-- pannel-1 -->
    <div class="sidebar_body" style="display: none;" >
      <div class="sidebar_header">
        <p class="sh_title">Add Category</p>
        <i class="far fa-times-circle close_icon" (click)="actionEvent()"></i>
      </div>
      <form>
        <input name="name" type="text" id="#" class="form-control custom_input" placeholder="Reception and Number">
        <button name="submit" class="cus_btn btn_pink btn_h_40" type="submit">ADD CATEGORY</button>
      </form>
    </div>
     <!-- pannel-2 -->
    <div class="sidebar_body" style="display: none;">
      <div class="sidebar_header">
        <p class="sh_title">Bride and Goom: Add task</p>
        <i class="far fa-times-circle close_icon" (click)="actionEvent()"></i>
      </div>
      <form>
        <input name="name" type="text" id="#" class="form-control custom_input" placeholder="Bride accessories purchased">
        <div class="date_icon_con">
          <input name="name" type="text" id="#" class="form-control custom_input" placeholder="Add date here">
          <i class="fas fa-calendar-alt data_icon"></i> 
        </div> 
        <div class="sidebar_btn">
          <button class="sidebar_add_input_btn fsw_13 btn_blu txt_w">Outstanding</button>  
          <button class="sidebar_add_input_btn fsw_13 bg_lig_gra txt_lig_b">completed</button>  
          <button class="sidebar_add_input_btn fsw_13 bg_lig_gra txt_lig_b">Urgent</button>
        </div>
        <button name="submit" class="cus_btn btn_pink btn_h_40" type="submit">ADD TASK</button>
      </form>
    </div>


    <!-- pannel-3 -->
    <div class="sidebar_body" >
      <div class="sidebar_header">
        <p class="sh_title">Bride and Goom: Tasks</p>
        <i class="far fa-times-circle close_icon" (click)="actionEvent()"></i>
      </div>
      <button name="submit" class="cus_btn_m fsw_11 btn_blu txt_w" type="submit">
        <i class="fas fa-plus btn_icon"></i>
        <span>ADD TASK</span>
      </button>
      <div class="task_status_con">
        <ul class="nav nav-pills nav_list_con" id="pills-tab" role="tablist">
          <li class="nav-item nav_list_item" role="presentation">
            <button class="nav-link active" id="pills-All-Task-tab" data-bs-toggle="pill" data-bs-target="#pills-All-Task" type="button" role="tab" aria-controls="pills-All-Task" aria-selected="true">All Task</button>
          </li>
          <li class="nav-item nav_list_item" role="presentation">
            <button class="nav-link " id="pills-Outstanding-tab" data-bs-toggle="pill" data-bs-target="#pills-Outstanding" type="button" role="tab" aria-controls="pills-Outstanding" aria-selected="false">Outstanding</button>
          </li>
          <li class="nav-item nav_list_item" role="presentation">
            <button class="nav-link" id="pills-Urgent-tab" data-bs-toggle="pill" data-bs-target="#pills-Urgent" type="button" role="tab" aria-controls="pills-Urgent" aria-selected="false">Urgent</button>
          </li>
          <li class="nav-item nav_list_item" role="presentation">
            <button class="nav-link" id="pills-Completed-tab" data-bs-toggle="pill" data-bs-target="#pills-Completed" type="button" role="tab" aria-controls="pills-Completed" aria-selected="false">Completed</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-All-Task" role="tabpanel" aria-labelledby="pills-All-Task-tab">
            <div class="tab_con_row">
              <div class="tc_row_l">
                <p class="tc_row_title">Brides accessories purchased</p>
                <div class="tab_decs_spn">
                  <i class="fa-solid fa-calendar-days pill_icon"></i>
                  <span>13/06/2022</span>
                </div>
              </div>
              <div class="tc_row_r">
                <span class="tc_status bg_pink txt_b">Outstanding</span>
              </div>
            </div>

            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Wedding dress purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_blu">Completed</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Grooms accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_org">Urgent</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Brides accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_pink">Outstanding</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Weddind dress purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_green">Completed</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Grooms accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_org">Urgent</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Outstanding" role="tabpanel" aria-labelledby="pills-Outstanding-tab">
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Brides accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_pink">Outstanding</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Brides accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_pink">Outstanding</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Urgent" role="tabpanel" aria-labelledby="pills-Urgent-tab">
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Grooms accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_org">Urgent</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Grooms accessories purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_org">Urgent</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Completed" role="tabpanel" aria-labelledby="pills-Completed-tab">
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Wedding dress purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_blu">Completed</button>
                </div>
              </div>
            </div>
            <div class="tab_con">
              <div class="row">
                <div class="col-md-8">
                  <p class="tab_decs">Weddind dress purchased</p>
                  <span class="tab_decs_spn"><i class="fa-solid fa-calendar-days pill_icon"></i> 13/06/2022</span>
                </div>
                <div class="col-md-4">
                  <button class="btn_r btn_green">Completed</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 


