.sidebar {overflow: auto;max-height: 100%;height: 100%;transition-property: top, bottom;transition-duration: .2s, .2s;
  transition-timing-function: linear, linear;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);z-index: 3;position:fixed;top:70px;bottom: 0;left: 0;width: 110px;
  display: block;color: #fff;font-weight: 200;background: #303030;}
.sidebar .sidebar-wrapper {max-height: none;overflow: hidden;width: 110px;z-index: 4;height: calc(100% - 70px);position: relative;}   
.sidebar-wrapper a.closebtn { color: #424242; text-decoration: none; } 
.sidebar-wrapper a.closebtn:focus,.sidebar-wrapper a.closebtn:hover {color: #23527c;text-decoration: underline;}
.sidebar .nav { margin-top: 0;height: 94%;}
.sidebar li.active {border-left: 3px solid #d5af9c;}
.sidebar li {height:11.5%;border-left: 3px solid #303030;}
.nav > li {position: relative;display: block;width: 100%;text-align: center;}
.sidebar .nav li.active a {color: #fbfbfb;opacity: 1;}
.sidebar .nav li a:hover {color: rgba(255, 255, 255, 1);}
.sidebar .nav li > a {border-radius: 4px;color: rgba(255, 255, 255, 0.6);margin: 0;opacity: 0.86;text-align: center;text-decoration: none;}
.nav > li > a {position: relative;display: block;}
.sidebar .nav li a:hover .nav-icons {opacity: 1;}
.menu-clickable {cursor: pointer;}
.sidebar .nav li.active a .nav-icons {opacity: 1;}
.nav > li > a > img {max-width: none;}
.nav-icons {width: 20px;opacity:0.6;}
img {vertical-align: middle;}
.sidebar .nav p {margin: 0;line-height: 22px;font-size: 12px; position: relative; bottom: 0;}

/*/*tablet*/
/*@media only screen and (min-width: 768px) and (max-width:  1024px) {
.sidebar {width:70px;z-index: 1;top:0;overflow-x:hidden;transition: 0.5s;padding-top: 60px;}  
.sidebar .sidebar-wrapper {height:auto;padding-top:30px;}
.sidebar-wrapper a.closebtn {position:absolute;top:0;right: 48px;font-size: 50px;margin-left: 50px;color: rgba(255, 255, 255, 0.6);}
.sidebar-wrapper a { padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color:#818181;display: block;transition: 0.3s;}
.sidebar .nav { margin-top: 0;height:100%}
.sidebar li {width: 75px;top:5px;height:10%}
.sidebar .nav li.active a .nav-icons {opacity: 1;}
.sidebar .nav li > a {padding: 20% 0 0;border-radius: 4px;color: rgba(255, 255, 255, 0.6);margin: 0;opacity: 0.86;text-align: center;text-decoration: none;}
.sidebar a {font-size: 25px;transition: 0.3s;}
.sidebar .nav p {font-size:10px;}
.sidebar-wrapper a.closebtn:focus{color: #fff;text-decoration:none;}
.sidebar .nav li.active a {opacity: 1;}
.sidebar .nav li a:hover {color: rgba(255, 255, 255, 1);}
.sidebar .nav li a:focus p {color: rgba(255, 255, 255, 1);}
.sidebar .nav li a:hover .nav-icons {opacity: 1;}
.sidebar .nav li a:focus .nav-icons {opacity: 1;}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
}
} */

/*moblie*/
/*@media only screen and (min-width:300px) and (max-width: 767px) {
.sidebar {width:70px;z-index: 1;top:0;overflow-x:hidden;transition: 0.5s;padding-top: 60px;}  
.sidebar .sidebar-wrapper {height:auto;padding-top:30px;}
.sidebar-wrapper a.closebtn {position:absolute;top:0;right: 48px;font-size: 50px;margin-left: 50px;color: rgba(255, 255, 255, 0.6);}
.sidebar-wrapper a { padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color:#818181;display: block;transition: 0.3s;}
.sidebar .nav { margin-top: 0;height:100%}
.sidebar li {width: 75px;top:5px;height:10%}
.sidebar .nav li.active a .nav-icons {opacity: 1;}
.sidebar .nav li > a {padding: 20% 0 0;border-radius: 4px;color: rgba(255, 255, 255, 0.6);margin: 0;opacity: 0.86;text-align: center;text-decoration: none;}
.sidebar a {font-size: 25px;transition: 0.3s;}
.sidebar .nav p {font-size:10px;}
.sidebar-wrapper a.closebtn:focus{color: #fff;text-decoration:none;}
.sidebar .nav li.active a {opacity: 1;}
.sidebar .nav li a:hover {color: rgba(255, 255, 255, 1);}
.sidebar .nav li a:hover .nav-icons {opacity: 1;}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
}
} */


