.sidebar { overflow: auto; max-height: 100%; height: calc(100vh - 70px); transition-property: top, bottom; transition-duration: .2s, .2s;
  transition-timing-function: linear, linear; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); z-index: 3; position: fixed; top: 70px; bottom: 0; left: 0; width: 110px;
  display: block; font-weight: 200; }
.sidebar .sidebar-wrapper {max-height: none; overflow: hidden; width: 110px; z-index: 4; height: 100%; position: relative;}   
.sidebar-wrapper a.closebtn { color: #424242; text-decoration: none; } 
.sidebar-wrapper a.closebtn:focus,.sidebar-wrapper a.closebtn:hover {color: #23527c;text-decoration: underline;}
.sidebar .nav { margin-top: 0; height: 100%; display: flex; flex-direction: column; justify-content: space-around; padding: 0 0 16px; }
.sidebar li.active { border-left: 3px solid #d5af9c;}
.sidebar li { height:11.5%;border-left: 3px solid #303030;}
.nav > li { position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; }
.sidebar .nav li.active a {color: #fbfbfb;opacity: 1;}
.sidebar .nav li a:hover {color: rgba(255, 255, 255, 1);}
.sidebar .nav li > a { border-radius: 4px; color: rgba(255, 255, 255, 0.6); margin: 0; opacity: 0.86; text-align: center; text-decoration: none;}
.nav > li > a { position: relative; display: block;}
.sidebar .nav li a:hover .nav-icons { opacity: 1; }
.menu-clickable { cursor: pointer;}
.sidebar .nav li.active a .nav-icons {opacity: 1;}
.nav > li > a > img { max-width: none; }
.nav-icons { width: 20px; opacity: 0.6;}
img { vertical-align: middle;}
.sidebar .nav p { margin: 0; font-size: 12px; line-height: 14px; position: relative;  bottom: 0; padding: 6px 0 0; }

