    <div id="mySidebar" class="sidebar thide">
    	<div class="sidebar-wrapper">
            <a href="#" class="closebtn" onclick="closeNav()">
            ×
            </a>
            <ul class="nav">
			    <li id="summary" class="active">
                    <a class="menu-clickable">
                        <img class="nav-icons" src="assets/image/summary.png" alt="Summary">
                        <p>Summary</p>
                    </a>
                </li>		
			    <li id="guesttracking">
                    <a class="menu-clickable menu-clickable_1">
                        <img class="nav-icons" src="assets/image/guest_tracking.png" alt="Summary">
                        <p>Guests</p>
                    </a>
                </li>	
			   <li id="todolist">
                    <a class="menu-clickable menu-clickable_5">
                        <img class="nav-icons" src="assets/image/toDo_list.png" alt="Summary">    
                        <p>To Do List</p>
                    </a>
                </li>	
			    <li id="budgettracker">
                    <a class="menu-clickable menu-clickable_1 ">
                         <img class="nav-icons" src="assets/image/budget_tracking.png" alt="Summary">
                         <p>Budget</p>
                     </a>
                </li>	
			    <li id="researchtracker">
                    <a class="menu-clickable menu-clickable_2">
                        <img class="nav-icons" src="assets/image/research_tracker.png" alt="Summary">
                        <p>Research </p>
                    </a>
                </li>				
			    <li id="runsheet">
                    <a class="menu-clickable menu-clickable_5">
                        <img class="nav-icons" src="assets/image/run_sheet.png" alt="Summary">
                        <p>Run Sheet</p>
                    </a>
                </li>	
		        <li id="musicplaylist">
                    <a class="menu-clickable menu-clickable_2 menu-clickable_3 menu-clickable_4">
                        <img class="nav-icons" src="assets/image/music_playlist.png" alt="Summary">
                        <p>Music</p>
                    </a>
                </li><br>		
			    <li id="seatingplan">
                    <a class="menu-clickable menu-clickable_3">
                        <img class="nav-icons" src="assets/image/seating_plan.png" alt="Summary">
                        <p>Seating</p>
                    </a>
                </li>
            </ul>
            <!-- <ul class="policies">
                <li><a href="https://brideonabudget.com.au/privacy-policy/">Privacy Policy</a></li>
                <li><a href="https://brideonabudget.com.au/website-use-terms-and-conditions/">Terms &amp; conditions</a></li>
                <li><a href="https://brideonabudget.com.au/faqs/">FAQ's</a></li>
            </ul>
            <ul class="copyright">
            	<a>Copyright 2022, Bride on a budget</a>
            </ul> -->
    	<!-- </div>
    </div>
    <div class="home_content">
        <div class="text">
            My to do list
        </div>
        <div class="progress">
        	you have
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>-->
