
<div id="mySidebar" class="sidebar">
  <div class="sidebar-wrapper">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <ul class="nav">
      <li id="summary" class="active">
        <a class="menu-clickable">
          <img class="nav-icons" src="assets/image/summary.png" alt="Summary">
          <p class="pt-2">Summary</p>
        </a>
      </li>   
      <li id="guesttracking" class="">
        <a class="menu-clickable ">
            <img class="nav-icons" src="assets/image/guest_tracking.png" alt="Summary">
            <p class="pt-2">Guests</p>
        </a>
      </li> 
      <li id="todolist" class="">
        <a class="menu-clickable" >
          <img class="nav-icons" src="assets/image/toDo_list.png" alt="Summary">    
          <p class="pt-2">To Do List</p>
        </a>
      </li> 
      <li id="budgettracker" class="">
        <a class="menu-clickable" >
          <img class="nav-icons" src="assets/image/budget_tracking.png" alt="Summary">
          <p class="pt-2">Budget</p>
         </a>
      </li> 
      <li id="researchtracker" class="">
        <a class="menu-clickable">
          <img class="nav-icons" src="assets/image/research_tracker.png" alt="Summary">
          <p class="pt-2">Research </p>
        </a>
      </li>       
      <li id="runsheet" class="">
        <a class="menu-clickable" >
          <img class="nav-icons" src="assets/image/run_sheet.png" alt="Summary">
          <p class="pt-2">Run Sheet</p>
        </a>
      </li> 
      <li id="musicplaylist" class="">
        <a class="menu-clickable">
          <img class="nav-icons" src="assets/image/music_playlist.png" alt="Summary">
          <p class="pt-2">Music</p>
        </a>
      </li><br>   
      <li id="seatingplan" class="">
        <a class="menu-clickable">
          <img class="nav-icons" src="assets/image/seating_plan.png" alt="Summary">
          <p class="pt-2">Seating</p>
        </a>
      </li>
    </ul>
  </div>
</div>
