@font-face {
  font-family: 'Segoe UI';
  src: url(/assets/font/SEGOEUI.TTF);
  src: url(/assets/font/segoeuil.ttf);
}

* { font-family: 'Segoe UI'; box-sizing: border-box; }

/*.fa { font: normal normal normal 14px/1 FontAwesome; }*/

/*custom input*/
.custom_input::placeholder { opacity: 0.7; background-color: #FFFFFF; }
.custom_input { background-color: #FFFFFF; border: 1px solid #E3E3E3; border-radius: 10px; color: #565656; padding: 8px 12px; height: 38px; box-shadow: none; margin-bottom: 10px; font-size: 16px; line-height: 18px; font-weight: 400; }
.custom_input:focus { border-color: rgb(104, 145, 162); outline: 0; -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(104 145 162); box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(104 145 162); }

.error_box { padding: 5px 12px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; font-size: 14px; line-height: 18px; }
.error_txt { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }



/*desktop*/
@media only screen and (min-width:  1024px){
    .header_part{display: block;}
    .sidebar{display: block;}
    .moblie{display: none;}
    .mainMenu{display: none;}
}

/*tablet and moblie*/
@media only screen and (max-width:  1023px){
    .header_part{display: none;}
    .sidebar{display: none !important;}
    .moblie{display:block;}
   
}